/* NAV LEFT */
a{
    text-decoration: none;
    color: white;
}

svg{
    fill: white;
}

hr{
    border: 1px solid white;
}

/*#left-nav{
    width: 20%;
}*/
/* nav{
    height:30vh;
} */
#left-nav{
    height:80%;
}
.container-fluid{
    height: 100vh;
}
/* NAV LEFT */

/* CONTENUTO PRINCIPALE */

#contenuto-principale{
    background:yellow;
    /* height:90vh; */
}

/* CONTENUTO PRINCIPALE */