a{
    text-decoration: none;
    color: white;
}
svg{
    fill: white;
}
#svgCuore{
    fill: #191919;
}
#svgCuore:hover{
    fill: #fff;
}
#playSvgFooter{
    fill: #ffffffc7;
}
#playSvgFooter:hover{
    fill: #fff;
}
#play{
    vertical-align: 20%;
}
#containerPlay{
    border: none;
    height: 35px;
    width: 35px;
    background-color: #fff;
    border-radius: 100%;
    position: relative;
}
#containerPlay svg{
    position: absolute;
    bottom: 7px;
    right: 7px;
    fill: black;
}
#playFooter{
    vertical-align: middle;
}
#seek-slider{
    vertical-align: 20%;
    border-radius: 0px;
    height: 2px;
    width: 500px;
}
#seek-slider2{
    vertical-align: 15%;
    border-radius: 0px;
    height: 2px;
    width: 70px;
}
.ancoraNavMain{
    padding: 4px;
    border-radius: 100%;
}
.ancoraNavMain:hover{
    background-color: #191919;
    padding: 4px;
    border-radius: 100%;
}
#profiloMainNav:hover{
    background-color: #191919;
}
#PlayMain{
    border: none;
    height: 35px;
    width: 35px;
    background-color: rgb(71, 236, 71);
    border-radius: 100%;
    position: relative;
}
#PlayMain svg{
    position: absolute;
    bottom: 7px;
    right: 7px;
    fill: black;
}
.titleMain{
    font-size: 0.9em;
}
.paragraphMain{
    font-size: 0.5em;
}